# ルートにプライベートのドット絵ファイルを置いているので、基本的に全無視してソースコードのみバージョン管理する
node_modules
*

# rootのバージョン管理したいファイル
!.gitignore
!.editorconfig
!*.js
!*.mjs
!*.json
!.prettierrc
!README.md
!.lintstagedrc

# バージョン管理したいサブディレクトリ
!.vscode/
!.vscode/**
!util/
!util/**
